p{
    font-family:calibri;
    text-align:right;
}
div.b{
    text-align:justify;
}
div.c{
    text-align:justify;
    font-family: serif;
}
p3{
  text-align:justify;
    font-family: serif;  
}
