body{
    margin-left: 100px;
    margin-right:100px;
}
h3{
    margin-top: 50px;
    
}
div.b{
    text-align:justify;
}
div.c{
    line-height: 1.2;
    text-align:justify;
    font-family: serif;
}
p{
  text-align:justify;
    font-family: serif; 
    line-height: 1.5;
}
